# Локальные конфигурации
.env

# Бинарники Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Временные файлы редакторов
*.swp
*.swo
.DS_Store
.vscode/
.idea/

# Кэш и зависимости (опционально, но go.mod/go.sum оставляем!)
bin/
tmp/